html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.tou{
	width: 100%;
	height: 44px;
	background: red;
	position: absolute;
	left: 0;
	top: 0;
}

.box{
	 width:100%;
     height:calc(100% - 84px);
     overflow: hidden;
     position: absolute;
     left:0;
     top:44px;
}

.box>.mm{
	width:100%;
}

.footer{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}


.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 999;
    width: 20px;
    height: 100%;
    /*background: red;*/
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.iScrollIndicator {
    width:100%;
    /*height:10px;*/
    background: black;
    border-radius: 20px;
}

header{
	width: 100%;
	height: 88px;
	background: #007BE3;
	position: absolute;
	top: 0;
	left: 0;
}

.logo{
	width: 1.91rem;
	height: 0.44rem;
	margin-left: 0.2rem;
	background-image: url('../img/10.png');
	background-size: 100%;

}

header .icon{
	font-size: 0.2rem;
	float: right;
	color: white;
	margin-top: 0.1rem;
	margin-right: 0.1rem;
}

.banner{
	width: 100%;
	height: 1.9rem;
	background: pink;
}

.banner .one{
	width: 100%;
	height: 100%;
}

.neirong{
	width: 100%;
	/* height: 4.9rem; */
	background: white;
	/* float: left; */
	overflow: hidden;
	margin-bottom: 0.5rem;
}

.souye{
	width: 3.51rem;
	height: 0.31rem;
	/* background: yellow; */
	margin: 0 auto;
}

.ziliao{
	width: 3.51rem;
	height: 4.9rem;
	/* background: blue; */
	margin: 0 auto;
}

.souyezi{
	width: 1rem;
	height: 0.35rem;
	/* background: pink; */
}

.souyezi span{
	font-size: 0.12rem;
	color: black;
	display: block;
	text-align: center;
	line-height: 0.3rem;
}

.ziliao{
	width: 3.27rem;
	height: 0.93rem;
	/* background: red; */
	margin: 0 auto;
	position: relative;
	border-bottom: 0.01rem solid #B8B8B8;

}

.hezi{
	width: 100%;
	height: 0.64rem;
	/* background: orange; */
	margin-top: 0.15rem;
	position: absolute;
}

.img{
	width: 0.96rem;
	height: 0.64rem;
	background-image: url('../img/1.png');
	background-size: 100%;
	float: left;
}

.img1{
	width: 0.96rem;
	height: 0.64rem;
	background-image: url('../img/2.png');
	background-size: 100%;
	float: left;
}

.img2{
	width: 0.96rem;
	height: 0.64rem;
	background-image: url('../img/3.png');
	background-size: 100%;
	float: left;
}

.img3{
	width: 0.96rem;
	height: 0.64rem;
	background-image: url('../img/4.png');
	background-size: 100%;
	float: left;
}

.img4{
	width: 0.96rem;
	height: 0.64rem;
	background-image: url('../img/5.png');
	background-size: 100%;
	float: left;
}

.xinxi{
	width: 2.15rem;
	height: 0.64rem;
	/* background: blue; */
	float: left;
}

.xingming{
	width: 2.3rem;
	height: 0.2rem;
	/* background: orange; */
	margin-top: 0.1rem;
	border-bottom: 0.01rem dashed #AFB2B2;
}

.daiyu{
	width: 2.1rem;
	height: 0.19rem;
	/* background: pink; */
	margin-top: 0.1rem;
}

.xingming span{
	font-size: 0.16rem;
	color: black;
	display: block;
	/* text-align: center; */
	line-height: 0.19rem;
}

.daiyu span{
	font-size: 0.13rem;
	color: #BFD672;
	display: block;
	line-height: 0.19rem;
}

.shangxia{
	width: 3.51rem;
	height: 0.4rem;
	background: #FFFFFF;
	margin: 0 auto;
	
}

.kuang{
	width: 100%;
	height: 0.25rem;
	/* background: red; */
	margin-top: 0.15rem;
	float: left;
}

.zuo{
	width: 0.25rem;
	height: 0.25rem;
	background-image: url('../img/x4.png');
	background-size: 100%;
	float: left;
	margin-left: 0.1rem;
}

.shang{
	width: 0.74rem;
	height: 0.25rem;
	background-image: url('../img/x5.png');
	background-size: 100%;
	float: left;
	margin-left: 0.1rem;
}

.diyi{
	width: 0.7rem;
	height: 0.25rem;
	/* background: greenyellow; */
	float: left;
	margin-left: 0.2rem;
	border: 0.01rem solid #666666;
	border-radius: 0.1rem;
}

.diyi span{
	font-size: 0.16rem;
	color: black;
	display: block;
	text-align: center;
	line-height: 0.25rem; 
}

.xia{
	width: 0.74rem;
	height: 0.25rem;
	background-image: url('../img/x6.png');
	background-size: 100%;
	float: left;
	margin-left: 0.2rem;
}

.you{
	width: 0.25rem;
	height: 0.25rem;
	background-image: url('../img/s5.png');
	background-size: 100%;
	float: right;
	margin-right: 0.1rem;
}

.banquan{
	width: 3.51rem;
	height: 0.26rem;
	/* background: red; */
	margin: 0 auto;
}

.banquan span{
	font-size: 0.12rem;
	color: black;
	display: block;
	text-align: center;
	line-height: 0.26rem;
}

.last{
	width: 100%;
	height: 0.4rem;
	background: #E7E7E7;
	position: fixed;
	bottom: 0;
}
.dianhua{
	width: 1.5rem;
	height: 0.4rem;
	background: orange;
	position: absolute;
	left: 1.14rem;
	top: -0.05rem;
	border-radius: 0.05rem;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#tupianfudong{
	float: left;
}
.call{
	width: 0.18rem;
	height: 0.18rem;
	background: orange;
	margin-left: 0.28rem;
	margin-top: 0.15rem;
	float: left;
}
.mianfeiboda{
	width: 0.6rem;
	height: 0.18rem;
	background: orange;
	/* float: left; */
	font-size: 0.14rem;
	top: 0.15rem;
	left: 0.5rem;
	position: absolute;
	/* margin-left: 0.1rem; */
}
.lianxiwomen-left{
	width: 1.125rem;
	height: 0.45rem;
	background: #E7E7E7;
	float: left;
}
.qie{
	width: 0.16rem;
	height: 0.16rem;
	background: #E7E7E7;
	margin-left: 0.15rem;
	margin-top: 0.15rem;
	float: left;
	position: relative;

}
.qiezi{
	width: 0.6rem;
	height: 0.45rem;
	background: #E7E7E7;
	margin-left: 0.4rem;
	text-align: center;
	line-height: 0.45rem;
	font-size: 0.14rem;
}
.lianxiwomen-right{
	width: 1.1rem;
	height: 0.45rem;
	background: #E7E7E7;
	float: right;

}
.liu{
	width: 0.16rem;
	height: 0.16rem;
	background: red;
	position: absolute;
	top: -0.08rem;
	left: -0.08rem;
	border-radius: 50%;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.16rem;
	color: white;
}