
*{
    padding: 0;
    margin: 0;
    list-style: none;
}

.left{
    float: left;
    width: 23%;
    height: 100%;
    position: fixed;
    background-color: #5f6d7e;
    color: white;
    overflow: hidden;
    z-index: 9999;
}

.top{
    padding: 40px ;
}

.xia{
    display: none;
    margin: 30px 0;
    background: #5F6D7E;
}


.xia ul{
    display: none;
    width:100%;
    background: #5F6D7E;
}



.xia>ul>li{
    display: block;
    text-align: center;
    cursor: pointer;
}

.xia>ul>li>a{
    padding: 15px 0px;
    display: block;
    color: white;
    font-size: 14px;
    /*text-align: center;*/
}

.xia span{
    font-family: 'iconfont';
    text-align: center;
}

.xia span{
    margin-right: 15px;
    font-size: 24px;
    margin-top: 2px;
}

.active{
    background: #495461;
}


.image{
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.img{
    width:100%;
    border-radius: 50%;
}

.title1{
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
    font-family: 'robotobold';
}

.description{
    width:100%;
}

.toggle{
    display: none;
}


/*----------------*/

.main{
    margin: 30px 0;
}

.floors{
    width:100%;
    padding: 0;
    margin: 0;
}

.main{
    width:100%;
    padding: 0;
    margin: 0;

}

.min>ul{
    width:100%;
    height:auto;
    background: red;
}


.main>ul>li:hover{
    background: #5C6270;
}

.main>ul>li>a{
    padding: 15px 40px;
    display: block;
    color: white;
    font-size: 14px;
}

.icon{
    font-family: 'iconfont';
    color: white;
}

.icon{
    font-size: 22px;
    color: white;
}

.welcome{
    font-size: 15px;
    color: white;
    padding-left: 10px;
}


/*右边部分*/

.right{
    float: right;
    width:77%;
    padding: 260px 0px;
    position: relative;
    background: url(../img/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.shang{
    width:80%;
    margin: 0 auto;
    position: relative;
    z-index: 4;
}

.shang h2{
    font-size: 42px;
    font-family: 'robotobold';
    color: white;
    margin-bottom: 30px;
}

.shang h5{
    font-size: 22px;
    color: white;
}


/*------------*/

.conten{
    float: right;
    width: 77%;
}

.conten-1{
    padding: 0 80px;
}

.about{
    width:90%;
    margin: 0 auto;
    padding-top: 80px;
}

.title{
    font-size: 16px;
    font-family: 'robotobold';
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #555555;
}

.about-img{
    overflow: hidden;
    border: 4px solid #dddddd;
    margin-bottom: 40px;
}

.about-img img{
    width: 100%;
    display: block;
}

a{
    color: #006699;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

hr{
    position: relative;
    outline: 0;
    border: 0;
    width: 100%;
    height: 4px;
    background: #dddddd;
    margin-top: 40px;
    margin-bottom: 0;
}

/*--------*/

.page{
    float: right;
    width: 77%;
    padding-top: 80px;
}

.md{
    width:90%;
    margin: 0 auto;
}

/*------*/
.holder{
    margin-right: 0;
    margin-left: 0;
    margin-top: 40px;
}

.holder .col-md-4{
    padding-right: 1px;
    padding-left: 1px;
}

.item{
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}

.item{
    width: 100%;
    display: block;
}

.imgses{
    width:100%;
    height:100%;
}

.hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: all 200ms linear;
}

.hover:hover{
    opacity: 1;
    top: -5px;
}

.inside{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.hover h5 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555555;
}

.hover p{
    color: white;
    font-size: 13px;
    line-height: 20px;
}

/*-----------*/

.contact-form{
    margin-top: 40px;
}

.input{
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px 5px;
    color: #999999;
    margin-bottom: 30px;
}

textarea{
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px 5px;
    color: #999999;
    margin-bottom: 30px;
}

.button{
    width: auto;
    background: #5f6d7e;
    color: white;
    text-transform: uppercase;
    border: 0;
    padding: 12px;
    margin-bottom: 30px;
}



/*---------------*/




@media (max-width: 992px) {

    .left{
        width:100%;
        height:auto;
        background: #5f6d7e;
        text-align: center;
        position: static;
    }

    .top{
        width:100%;
    }

    .xia{
        display: block;
    }

    .main{
        display: none;
    }

    .image{
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
        margin-right: 30px;
    }

    .toto{
        text-align: left;
        margin-top: 30px;
        overflow: hidden;
    }

    .toggle{
        width: 100%;
        display: block;
        padding: 20px 0;
        margin-top: 30px;
        background: #6cc0f7;
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .toggle span{
        font-family: 'iconfont';
        font-size: 24px;
        text-align: center;
    }

    .right{
        width:100%;
        flex-wrap: wrap;
    }

    .conten{
        width:100%;
    }

    .page{
        width:100%;
        /*padding: 0 10px;*/
    }

    .about{
        width:90%;
        margin: 0 auto;
        padding-top: 80px;
    }

}




