
*{
	padding: 0;
	margin: 0;
	list-style: none;
}

.section1{
	width: 100%;
	height: 100%;
	background-image: url('img/bg.jpg'); 
	position: relative;
}

.warp{
	width: 1680px;
	height: 100%;
	/* background: pink;  */
	background: #0262C8;	
	margin: 0 auto;
}

.nei{
	width: 1024px;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
    
}


@keyframes logoin{
    0%{
        top:530px;
    }
    100%{
        top:31px;
        transform: scale(1);
    }
}


.logo{
	width: 395px;
	height: 28px;
	/* background: pink; */
	background-image: url('img/logo.png');
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	margin: auto;
}

.logoin{
    animation: logoin 1.5s ease-in-out;
}

@keyframes logoin {
    0%{
        top:100px;
    }
    100%{
        top:30px;
    }
}

.logoout{
    animation: logoout 1.5s ease-in-out;
}

@keyframes logoout {
    100%{
        top:30px;
    }
    0%{

        top:100px;
    }
}

.wanyi{
	width: 590px;
	height: 136px;
	background-image: url('img/tt.png');
	margin-top: 60px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin:  auto;
}

.wangyin{
    animation: wangyin 1.5s ease-in-out;
}

@keyframes wangyin {
    0%{
        top:300px;
    }
    100%{
        top:100px;
    }
}

.wangyiout{
    animation: wangyiout 1.5s ease-in-out;
}

@keyframes wangyiout {
    100%{
        top:100px;
    }
    0%{
        top:300px;
    }
}


.zi {
	position: absolute;
	top: 275px;
	left: 0;
	right: 0;
	margin: auto;
}

.zi p {
	text-align: center;
	margin-top: 10px;
	color: white;
}

.ziin{
    animation: ziin 1.5s ease-in-out;
}

@keyframes ziin {
    0%{
        top:400px;
    }
    100%{
        top:275px;
    }
}

.ziout{
    animation: ziout 1.5s ease-in-out;
}

@keyframes ziout {
    100%{
        top:275px;
    }
    0%{
        top:400px;
    }
}

.di{
	width: 750px;
	height: 350px;
	background-image: url('img/pic1.png');
	position: absolute;
	top: 487px;
	left: 0;
	right: 0;
	margin: auto;
}

.diin{
    animation: diin 1.5s linear;
}
@keyframes diin {
    0%{
        top: 750px;
    }
    100%{
        top: 487px;
    }
}

.diout{
    animation: diout 1.5s linear;
}
@keyframes diout {
    100%{
        top: 487px;
    }
    0%{
        top: 750px;
    }
}


/* 楼层二 */

.section2{
	width: 100%;
	height: 100%;
	background-image: url('img/bg (1).jpg');
	position: relative
}

.warp1{
	width: 1680px;
	height: 100%;
    /* background: red; */
	margin: 0 auto;
}

.nei1{
	width: 1024px;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
	position: relative;
}

.logo1{
	width: 329px;
	height: 55px;
	/* background: pink; */
	background-image: url('img/tt (1).png');
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	margin: auto;	
	opacity: 0;
}

.logo1in{
    animation: logo1in 1.5s ease forwards;
}
.logo1out{
    animation: logo1out 1.5s ease forwards;
}

@keyframes logo1in {
    0%{
        top:120px;
        opacity: 0;
    }
    100%{
        top:80px;
        opacity: 1;
    }
}

@keyframes logo1out {
    0%{
        top:80px;
        opacity: 1;
    }
    100%{
        top:120px;
        opacity: 0;
    }
}

.zi1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	margin: auto;	
	/* opacity: 0; */
}

.zi1in{
    animation: zi1in 1.5s ease forwards;
}
@keyframes zi1in {
    0%{
        top:165px;
        opacity: 0;
    }
    100%{
        top:200px;
        opacity: 1;
    }
}

.zi1out{
    animation: zi1out 1.5s ease forwards;
}
@keyframes zi1out {
    0%{
        top:200px;
        opacity: 1;
    }
    100%{
        top:165px;
        opacity: 0;
    }
}

.zi1 p {
	text-align: center;
	margin-top: 10px;
	color: black;
}

.di1{
	width: 629px;
	height: 608px;
	/* background: red; */
	background-image: url('img/pic2.png');
	position: absolute;
	left: 0;
	right: 0;
	top: 225px;
	margin: auto;
	opacity: 0;
}

.di1in{
    animation: di1in 1.5s ease forwards;
}

@keyframes di1in {
    0%{
        top:350px;
        opacity: 0;
    }
    100%{
        top:255px;
        opacity: 1;
    }
}

.di1out{
    animation: di1out 1.5s ease forwards;
}

@keyframes di1out {
    0%{
        top:255px;
        opacity: 1;
    }
    100%{
        top:350px;
        opacity: 0;
    }
}

.di2{
	width: 910px;
	height: 461px;
	background-image: url('img/pic3.png');
	/* background: pink; */
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 245px;
	bottom: 0;
	margin: auto;
	opacity: 0;
}

.di2in{
    animation: di2in 1.5s ease forwards;
}
@keyframes di2in {
    0%{
        top:500px;
        opacity: 0;
    }
    100%{
        top:411px;
        opacity: 1;
    }
}

.di2out{
    animation: di2out 1.5s ease forwards;
}
@keyframes di2out {
    0%{
        top:411px;
        opacity: 1;
    }
    100%{
        top:500px;
        opacity: 0;
    }
}


.di3{
	width: 1147px;
	height: 418px;
	background-image: url('img/pic1 (1).png');
	/* background: pink; */
	margin: 0 auto;
	margin-top: 35px;
	padding: 0;
	position: absolute;
	bottom: 0;
	opacity: 0;
}

.di3in{
    animation: di3in 1.5s ease forwards;
}
@keyframes di3in {
    0%{
        top:600px;
        opacity: 0;
    }
    100%{
        top:425px;
        opacity: 1;
    }
}

.di3out{
    animation: di3out 1.5s ease forwards;
}
@keyframes di3out {
    0%{
        top:425px;
        opacity: 1;
    }
    100%{
        top:600px;
        opacity: 0;
    }
}


/* 楼层三 */
.section3{
	width: 100%;
	height:100%;
	background-image: url('img/bg (2).jpg');
	overflow: hidden;
	position: relative;
}

.warp2{
	width: 1024px;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
}

.logo2{
	width: 329px;
	height: 55px;
	background-image: url('img/tt (2).png');
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
}

.logo2in{
    animation: logo2in 1.5s ease forwards;
}
@keyframes logo2in {
    0%{
        top:160px;
    }
    100%{
        top:80px;
    }
}

.logo2out{
    animation: logo2out 1.5s ease forwards;
}
@keyframes logo2out {
    100%{
        top:80px;
    }
    0%{
        top:160px;
    }
}

.zi2{
	position: absolute;
	top: 145px;
	left: 0;
	right: 0;
	margin: auto;
}

.zi2in{
    animation: zi2in 1.5s ease forwards;
}
@keyframes zi2in {
    0%{
        top:250px;
    }
    100%{
        top:165px;
    }
}

.zi2out{
    animation: zi2out 1.5s ease forwards;
}
@keyframes zi2out {
    100%{
        top:165px;
    }
    0%{
        top:250px;
    }
}

.zi2 p {
	text-align: center;
	margin-top: 10px;
	color: #fff;
}

.tu1{
	width: 405px;
	height: 71px;
	background-image: url('img/pic1 (2).png');
	position: absolute;
	right: -160px;
	top: 285px;
	left: 0;
	margin: auto;
}

.tu1in{
    animation: tu1in 1.5s ease forwards;
}
@keyframes tu1in {
    0%{
        top:400px;
    }
    100%{
        top:285px;
    }
}

.tu1out{
    animation: tu1out 1.5s ease forwards;
}
@keyframes tu1out {
    100%{
        top:285px;
    }
    0%{
        top:400px;
    }
}

.tu2{
	width: 543px;
	height: 171px;
	background-image: url('img/pic2 (1).png');
	position: absolute;
	right: 140px;
	top: 365px;
	left: 0;
	margin: auto;
}

.tu2in{
    animation: tu2in 1.5s ease forwards;
}
@keyframes tu2in {
    0%{
        top:500px;
    }
    100%{
        top:365px;
    }
}

.tu2out{
    animation: tu2out 1.5s ease forwards;
}
@keyframes tu2out {
    100%{
        top:365px;
    }
    0%{
        top:500px;
    }
}

.tu3{
	width: 572px;
	height: 260px;
	background-image: url('img/pic3 (1).png');
	position: absolute;
	right: 18px;
	top: 500px;
	left: 0;
	margin: auto;
	opacity: 0;
}

.tu3in{
    animation: tu3in 1.5s ease forwards;
}
@keyframes tu3in {
    0%{
        top:600px;
        opacity: 0;
    }
    100%{
        top:500px;
        opacity: 1;
    }
}

.tu3out{
    animation: tu3out 1.5s ease forwards;
}
@keyframes tu3out {
    100%{
        top:500px;
        opacity: 0;
    }
    0%{
        top:600px;
        opacity: 1;
    }
}


/* 楼层四 */

.section4{
	width: 100%;
	height: 100%;
	background-image: url('img/bg (3).jpg');
	overflow: hidden;
	position: relative;
}

.warp3{
	width: 1024px;
	height: 100%;
	/* background: red; */
	/* position: relative; */
	margin: 0 auto;
}

.logo3{
	width: 329px;
	height: 55px;
	background-image: url('img/tt (3).png');
	position: absolute;
	left: 0;
	right: 0;
	top: 45px;
	margin: auto;
}

.logo3in{
    animation: log3in 1.5s ease forwards;
}
@keyframes log3in {
    0%{
        top:180px;
    }
    100%{
        top:80px;
    }
}

.logo3out{
    animation: log3out 1.5s ease forwards;
}
@keyframes log3out {
    100%{
        top:80px;
    }
    0%{
        top:180px;
    }
}

.zi3{
	position: absolute;
	left: 0;
	right: 0;
	top: 175px;
	margin: auto;
	opacity: 0;
}

.zi3in{
    animation: zi3in 1.5s ease forwards;
}
@keyframes zi3in {
    0%{
        top:260px;
        opacity: 0;
    }
    100%{
        top:175px;
        opacity: 1;
    }
}

.zi3out{
    animation: zi3out 1.5s ease forwards;
}
@keyframes zi3out {
    100%{
        top:175px;
        opacity: 1;
    }
    0%{
        top:260px;
        opacity: 0;
    }
}

.zi3 p {
	text-align: center;
	color: #000;
	margin-top: 10px;
}

.avabox{
	width: 700px;
	height: 338px;
	background-image: url('img/pic1 (3).png');
	position: absolute;
	left: 0;
	right: 0;
	top: 350px;
	margin: auto;
}

.avaboxin{
    animation: avaboxin 1.5s ease forwards;
}
@keyframes avaboxin {
    0%{
    	/* left: 20px; */
        opacity: 0;
    }
    100%{
    	/* left: 0px; */
        opacity: 1;
    }
}

.avaboxout{
    animation: avaboxout 1.5s ease forwards;
}

@keyframes avaboxout {
    100%{
    	/* left: 0px; */
        opacity: 1;
    }
    0%{
    	/* left: 20px; */
        opacity: 0;
    }
}

.t1{
	width: 157px;
	height: 156px;
	background-image: url('img/pic3 (2).png'); 
	position: absolute;
}

.t1in{
    animation: t1in 1.5s ease forwards;
}
@keyframes t1in {
    0%{
    	left: 30px;
        opacity: 0;
    }
    100%{
    	left: 0px;
        opacity: 1;
    }
}

.t1out{
    animation: t1out 1.5s ease forwards;
}

@keyframes t1out {
    100%{
    	left: 0px;
        opacity: 1;
    }
    0%{
    	left: 30px;
        opacity: 0;
    }
}

.t2{
	width: 157px;
	height: 156px;
	background-image: url('img/pic5.png'); 
	position: absolute;
	right: 0;
	top: -84px;
}

.t2in{
    animation: t2in 1.5s ease forwards;
}
@keyframes t2in {
    0%{
    	right: 30px;
        opacity: 0;
    }
    100%{
    	right: 0px;
        opacity: 1;
    }
}

.t2out{
    animation: t2out 1.5s ease forwards;
}

@keyframes t2out {
    100%{
    	right: 0px;
        opacity: 1;
    }
    0%{
    	right: 30px;
        opacity: 0;
    }
}

.t3{
	width: 157px;
	height: 156px;
	background-image: url('img/pic4.png'); 
	position: absolute;
	top: 200px;
	left: -70px;
}

.t3in{
    animation: t3in 1.5s ease forwards;
}
@keyframes t3in {
    0%{
    	left: 30px;
        opacity: 0;
    }
    100%{
    	left: 0px;
        opacity: 1;
    }
}

.t3out{
    animation: t3out 1.5s ease forwards;
}

@keyframes t3out {
    100%{
    	left: 0px;
        opacity: 1;
    }
    0%{
    	left: 30px;
        opacity: 0;
    }
}

.t4{
	width: 255px;
	height: 234px;
	background-image: url('img/pic2 (2).png'); 
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.t4in{
    animation: t4in 1.5s ease forwards;
}
@keyframes t4in {
    0%{
    	/* right: 20px; */
        opacity: 0;
    }
    100%{
    	right: 0px;
        opacity: 1;
    }
}

.t4out{
    animation: t4out 1.5s ease forwards;
}

@keyframes t4out {
    100%{
    	/* left: 0px; */
        opacity: 1;
    }
    0%{
    	/* left: 20px; */
        opacity: 0;
    }
}

.t5{
	width: 140px;
	height: 120px;
	background-image: url('img/pic6.png'); 
	position: absolute;
	bottom: 0;
	right: -55px;
}

.t5in{
    animation: t5in 1.5s ease forwards;
}
@keyframes t5in {
    0%{
    	right: 30px;
        opacity: 0;
    }
    100%{
    	right: 0px;
        opacity: 1;
    }
}

.t5out{
    animation: t5out 1.5s ease forwards;
}

@keyframes t5out {
    100%{
    	right: 0px;
        opacity: 1;
    }
    0%{
    	right: 30px;
        opacity: 0;
    }
}



/* 图层5 */

.section5{
	width: 100%;
	height: 100%;
	background-image: url('img/bg (4).jpg');
	position: relative;
}

.warp4{
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	/* background: red; */
	
}

.wy{
	width: 647px;
	height: 71px;
	background-image: url('img/tt1.png');
	position: absolute;
	left: 0;
	right: 0;
	top: 210px;
	margin: auto;
}

.wyin{
    animation: wyin 1.5s ease forwards;
}
@keyframes wyin {
    0%{
        top: 300px;
    }
    100%{
        top: 190px;
    }
}

.wyout{
    animation: wyout 1.5s ease forwards;
}
@keyframes wyout {
    100%{
        top: 190px;
    }
    0%{
        top: 300px;
    }
}

.qin{
	width: 645px;
	height: 44px;
	background-image: url('img/tt2.png');
	position: absolute;
	left: 0;
	right: 0;
	top: 320px;
	margin: auto;
}

.qinin{
    animation: qinin 1.5s ease forwards;
}
@keyframes qinin {
    0%{
        top: 400px;
    }
    100%{
        top: 288px;
    }
}

.qinout{
    animation: qinout 1.5s ease forwards;
}
@keyframes qinout {
    100%{
        top: 288px;
    }
    0%{
        top: 400px;
    }
}


.tiao{
	width: 940px;
	height: 17px;
	background-image: url('img/pic2 (3).png');
	position: absolute;
	left: 0;
	right: 0;
	top: 430px;
	margin: auto;
}

.tiaoin{
    animation: tiaoin 1.5s ease forwards;
}
@keyframes tiaoin {
    0%{
        top: 500px;
    }
    100%{
        top: 371px;
    }
}

.tiaoout{
    animation: tiaoout 1.5s ease forwards;
}
@keyframes tiaoout {
    100%{
        top: 371px;
    }
    0%{
        top: 500px;
    }
}


.liji{
	width: 317px;
	height: 97px;
	background-image: url('img/pic1 (4).png');
	position: absolute;
	left: 0;
	right: 0;
	top: 500px;
	margin: auto;
}

.lijiin{
    animation: lijiin 1.5s ease forwards;
}
@keyframes lijiin {
    0%{
        top: 600px;
    }
    100%{
        top: 420px;
    }
}

.lijiout{
    animation: lijiout 1.5s ease forwards;
}
@keyframes lijiout {
    100%{
        top: 420px;
    }
    0%{
        top: 600px;
    }
}
